/* Control de las etiquetas personalizadas */
exam-question::before {
   content: 'PBI: ';
   font-weight: bold;
}

exam-question {
    margin-top: 5vh;
    display: block;
}

exam-section, exam-answer {
    margin-top: 2vh;
    display: block;
}

#tareas {
    font-weight: bold;
}

exam-question:not(.enabled) {
    cursor: not-allowed;
    color: gray;
    opacity: 0.4;
}

img._2html {
    display: block;
}

/* Ayuda para la visualización de los pbis */
#pbi-1>exam-answer td {
    border: 1px slategray solid;
    text-align: center;
    padding: 5px;
}

#pbi-2>exam-answer form>* {
    display: block;
}

#scrum label::before {
    display: block;
    content: '';
    clear: both;
    padding-bottom: 1em;
}

#scrum select {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 1em;
}

#scrum input[type=button] {
    margin-top: 2em;
    margin-bottom: 2em;
}